body {
  width: 100%;
}

button {
  cursor: pointer;
}

b,
strong {
  font-weight: 700;
}

/* hidden scrollbar */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Primary Scrollbar */
* {
  /* Firefox */
  scrollbar-color: #fcb44a transparent;
  scrollbar-width: thin;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #fcb44a;
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #e09e30;
}

.border-gradient {
  position: relative;
}

.border-gradient::before,
.border-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 16px;
  pointer-events: none;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/* Base gradient */
.border-gradient::before {
  background: linear-gradient(90deg, #fcb44a, #fcb44a00);
}

/* Hover gradient (hidden initially) */
.border-gradient::after {
  background: linear-gradient(90deg, #fcb44a, #e09e30);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Fade in */
.border-gradient:hover::after {
  opacity: 1;
}

.border-gradient-reversed {
  position: relative;
}

.border-gradient-reversed::before,
.border-gradient-reversed::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 16px;
  pointer-events: none;

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/* Base gradient */
.border-gradient-reversed::before {
  background: linear-gradient(90deg, #fcb44a00, #fcb44a);
}

/* Hover gradient (hidden initially) */
.border-gradient-reversed::after {
  background: linear-gradient(90deg, #fcb44a, #e09e30);
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Fade in */
.border-gradient-reversed:hover::after {
  opacity: 1;
}


.workforce-table th,
.workforce-table td {
  padding: 6px;
}