
button {
    cursor: pointer;
}

/* Animation */
@keyframes SpikeWave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

.animate-spike-wave {
    animation: SpikeWave 4s ease-in-out infinite;
}